:root {
    --text: #e2e1f9;
    --background: #000;
    --primary: #8381e8;
    --secondary: #2a2875;
    /* --background-secondary: rgba(255, 255, 255, 0.08); */
    /* --accent: #f9fd14; */
    /* --accent: #e114c9; */
    --accent: #d2d2f9;

    --border-radius:30px;

    --text: #00dd00;
    --border-width:0.5px;

    /* Noto Sans Tai Le */
    /* Noto Sans Nandinagari */
    /* Fragment Mono */
    /* PT Mono */
    /* Noto Sans Ol Chiki */
    /* Noto Sans Thai Looped */
    /* Noto Sans Sinhala */

    /* Sometype Mono */
    /* Geist Mono */
    /* Oxygen Mono */
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--text);
    background: var(--background);
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family:var(--geistmono-font);
    font-weight:300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, input, pre {
    color:var(--text);
    font-family:var(--geistmono-font);
    font-weight:300;
}

input {
    border:none;
    background:none;
    border-collapse: none;
    outline:none;
}

h1 {
    font-size:35px;
}

h2 {
    font-size:20px;
}

h3, pre, input {
    font-size:18px;
}

h4 {
    font-size:16px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}